@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  /* colors */
  --purple: #9356DC;
  --pink: #FF79DA;
  --dark-blue: #003A68;
  --light-blue: #89C8FA;
  --dark-green: #008766;
  --light-green: #99E2D0;
  --dark-grey: #EAEAEA;
  --light-grey: #F6F6F6;
  --white: #FFFFFF;
  --dark: #353535;
  --black: #000000;
}

:root {
  /* font-family */
  --body-font: "Roboto";
  --section-title-font: "Roboto";
  --button-font: "Roboto";
  --header-font: "Shrikhand";
  --menu-title-font: "Shrikhand";
  --footer-title-font: "Shrikhand";
  /* font-weight */
  --body-font-weight: 300;
  --title-font-weight: 700;
  --plate-title-font-weight: 500;
  --button-font-weight: 500;
  --header-font-weight: 400;
  --menu-title-font-weight: 400;
  --footer-title-font-weight: 400;
  --footer-font-weight: 500;
  /* font-size */
  --header-title-font-size: 30px;
  --menu-title-font-size: 28px;
  --section-title-font-size: 24px;
  --body-highlight-font-size: 18px;
  --details-font-size: 17px;
  --body-font-size: 16px;
  --details-font-size: 15px;
}

/* Variables */
/* Mixin */
/* loader animation */
.loader-container-display {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.3);
  -webkit-backdrop-filter: blur(10px) brightness(0.3);
  animation: fadeOut 3.2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-container {
  position: relative;
  z-index: 3;
  backdrop-filter: blur(10px) brightness(0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  animation: loader infinite 0.3s alternate;
}
@media screen and (max-width: 580px) {
  .dot {
    width: 18px;
    height: 18px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 580px) {
  .dot {
    width: 15px;
    height: 15px;
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
.d1 {
  background-color: var(--pink);
}

.d2 {
  background-color: var(--purple);
  animation-delay: 0.05s;
}

.d3 {
  background-color: var(--light-green);
  animation-delay: 0.1s;
}

/* Plate animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.plate-type__name {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.3s forwards;
}
.plate-type .plate-list {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}
.plate-type .plate-list li {
  opacity: 0;
}
.plate-type .plate-list li:nth-child(1) {
  animation: fadeIn 1s ease-in-out 1.3s forwards;
}
.plate-type .plate-list li:nth-child(2) {
  animation: fadeIn 1s ease-in-out 1.8s forwards;
}
.plate-type .plate-list li:nth-child(3) {
  animation: fadeIn 1s ease-in-out 2.3s forwards;
}
.plate-type .plate-list li:nth-child(4) {
  animation: fadeIn 1s ease-in-out 2.8s forwards;
}

body {
  background-color: var(--white);
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__left-arrow {
  position: absolute;
  padding: 7px;
  left: 16px;
  top: 17px;
  width: 17.2px;
  height: 16px;
  color: black;
}
.header__left-arrow--hidden {
  display: none;
}
.header__logo {
  width: 162px;
  height: 44px;
}

/* location */
.location {
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.06rem;
  background-color: var(--dark-grey);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1450980392);
  position: relative;
  z-index: 1;
}
.location__logo {
  width: 0.75rem;
  height: 1rem;
}
.location__text {
  font-family: var(--body-font);
  font-weight: var(--button-font-weight);
  font-size: var(--body-font-size);
}

/* discover menu */
.discover {
  background-color: var(--light-grey);
  padding: 39px 0 57px 0;
  position: relative;
  z-index: 0;
}
.discover__title {
  height: 4.25rem;
  font-family: var(--section-title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--section-title-font-size);
  text-align: center;
  padding: 0 3.13rem;
}
.discover__text {
  height: 2.88rem;
  text-align: center;
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-highlight-font-size);
  padding: 0 1.88rem 1.88rem 1.88rem;
}
.discover a {
  text-decoration: none;
  text-align: center;
}
.discover div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover__button {
  line-height: 1.5rem;
  padding: 0.81rem 1.4rem;
  background: linear-gradient(0deg, var(--purple) 1%, var(--pink) 99%);
  color: var(--white);
  font-family: var(--button-font);
  font-weight: var(--button-font-weight);
  font-size: var(--body-font-size);
  text-decoration: none;
  text-align: center;
  border-radius: 1.56rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1450980392);
  border: none;
  transition: transform 0.4s, box-shadow 0.4s;
}
.discover__button:hover {
  transform: scale(1.1);
  background: linear-gradient(0deg, #a16be0 1%, #ff93e1 99%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4392156863);
}

/* Order process */
.process {
  background-color: var(--white);
  padding: 50px 20px 40px 20px;
}

.process__title {
  font-family: var(--section-title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--section-title-font-size);
}

.process__list {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  list-style-type: none;
  gap: 25px;
}
.process__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  background-color: var(--light-grey);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.0823529412);
  border-radius: 20px;
  padding: 28px 0;
  margin-left: 12px;
  font-family: var(--body-font);
  font-weight: var(--button-font-weight);
  font-size: var(--body-font-size);
}
.process__list li span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -12px;
  color: var(--white);
  background-color: var(--purple);
  width: 24px;
  height: 24px;
  font-size: 14px;
}

/* for media queries 425px to 1023px */
.process__list--centered {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* restaurants list */
.restaurants {
  padding: 55px 18px 65px;
  background-color: var(--light-grey);
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  gap: 18px;
}
.restaurants__title {
  font-family: var(--section-title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--section-title-font-size);
}

.card {
  height: 250px;
  border-radius: 15px;
  background-color: var(--white);
  position: relative;
}
.card__new {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  font-size: 14px;
  font-weight: var(--button-font-weight);
  font-family: var(--body-font);
  text-decoration: none;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0823529412);
}

.card img {
  position: relative;
  object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 25px 0 15px;
}
.card-content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-content__text--title {
  font-family: var(--body-font);
  font-weight: var(--title-font-weight);
  font-size: var(--body-highlight-font-size);
  color: black;
}
.card-content__text--subtitle {
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--details-font-size);
  color: black;
}

.heart-wrapper__heart {
  position: absolute;
  font-size: var(--section-title-font-size);
  color: black;
  cursor: pointer;
}
.heart-wrapper__heart--filled {
  position: relative;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}
.heart-wrapper__heart--filled:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(0deg, var(--pink), var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
}

/* footer */
.footer {
  background-color: var(--dark);
  padding: 22px 0 19px 25px;
  color: var(--white);
}
.footer__title {
  font-family: var(--footer-title-font);
  font-weight: var(--footer-title-font-weight);
  font-size: var(--body-highlight-font-size);
  color: var(--white);
  padding: 0 0 16px 0;
}
.footer__list-1 {
  display: flex;
  gap: 11px;
  align-items: center;
}
.footer__list-1 img {
  width: 11px;
  height: 13px;
}
.footer__list-2 {
  display: flex;
  gap: 9px;
  align-items: center;
}
.footer__list-2 img {
  width: 12px;
  height: 13px;
}
.footer__contact-link {
  color: var(--white);
}

.footer ul li {
  list-style-type: none;
  font-family: var(--body-font);
  font-weight: var(--footer-font-weight);
  font-size: var(--body-font-size);
  line-height: 19px;
  padding: 4px;
}

/* Restaurant page */
.main-container {
  background-color: var(--white);
}

.restaurant-hero-banner {
  position: relative;
  z-index: 0;
}
.restaurant-hero-banner img {
  object-fit: cover;
  width: 100%;
  vertical-align: top;
  max-height: 275px;
}

.restaurant-menu-page {
  background-color: var(--light-grey);
  border-radius: 40px 40px 0 0;
  padding-top: 32px;
  position: relative;
  z-index: 1;
  margin-top: -40px;
}
.restaurant-menu-page__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}
.restaurant-menu-page__title {
  font-family: var(--menu-title-font);
  font-weight: var(--menu-title-font-weight);
  font-size: var(--menu-title-font-size);
}
.restaurant-menu-page__heart-icon {
  padding-right: 24px;
}

.plate-type {
  padding: 0 13px;
  max-width: 634px;
  margin: auto;
}
.plate-type__name {
  font-family: var(--section-title-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  height: 27px;
  margin-bottom: 12px;
  padding-top: 40px;
  border-bottom: 3px solid var(--light-green);
  width: 40px;
}

.plate-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.062745098);
  margin-top: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.plate-card:hover .plate-card-infos__price {
  transform: translateX(-70px);
  transition: transform 0.5s ease;
}
.plate-card:hover .plate-card-infos__check {
  right: 0;
  opacity: 1;
  transition: right 0.5s ease;
}
.plate-card:hover .plate-card-menu {
  padding-right: 70px;
}

.plate-card-menu {
  padding: 13.5px 15px 13.5px 15px;
  flex-grow: 1;
  min-width: 0;
}
.plate-card-menu__title {
  font-family: var(--body-font);
  font-weight: var(--plate-title-font-weight);
  font-size: var(--body-highlight-font-size);
  line-height: 21px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plate-card-menu__details {
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--details-font-size);
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plate-card-infos {
  display: flex;
  flex-direction: row;
  position: relative;
}
.plate-card-infos__price {
  font-family: var(--body-font);
  font-weight: var(--title-font-weight);
  font-size: var(--details-font-size);
  display: flex;
  align-items: end;
  padding-right: 15px;
  padding: 13.5px 15px;
  transition: transform 0.5s ease;
}
.plate-card-infos__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -70px;
  width: 70px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: var(--light-green);
  transition: right 0.5s ease;
  opacity: 0;
}
.plate-card-infos__check--icon {
  color: var(--white);
}
.plate-card-infos:hover .plate-card-infos__check {
  right: 0;
  opacity: 1;
}
.plate-card-infos:hover .plate-card-infos__price {
  transform: translateX(-70px);
}

/* smooth transition to original state */
.plate-card-infos__check {
  transition: right 0.5s ease, opacity 0.5s ease;
}

/*
.plate-card-infos__price {
    transition: transform 0.5s ease;
}
*/
.restaurant-order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--light-grey);
}
.restaurant-order__button {
  line-height: 1.5rem;
  padding: 0.81rem 1.4rem;
  background: linear-gradient(0deg, var(--purple) 1%, var(--pink) 99%);
  color: var(--white);
  font-family: var(--button-font);
  font-weight: var(--button-font-weight);
  font-size: var(--body-font-size);
  text-decoration: none;
  text-align: center;
  border-radius: 1.56rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1450980392);
  border: none;
  transition: transform 0.4s, box-shadow 0.4s;
  padding: 0.81rem 3rem;
}
.restaurant-order__button:hover {
  transform: scale(1.1);
  background: linear-gradient(0deg, #a16be0 1%, #ff93e1 99%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4392156863);
}

/* Responsive Design */
@media screen and (min-width: 425px) and (max-width: 1023px) {
  .process__list li {
    gap: 0px;
  }
  .process__list--centered {
    margin: 0 auto;
  }
}
@media screen and (min-width: 580px) and (max-width: 1023px) {
  .process, .restaurants-wrapper {
    max-width: 580px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  main {
    width: 100%;
  }
  .discover {
    padding: 30px 0;
  }
  .process {
    width: 1080px;
    margin: 0 auto;
    max-width: 95%;
  }
  .process__list {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-left: 12px;
  }
  .process li {
    width: 335px;
    margin: auto;
  }
  .restaurants-wrapper {
    width: 1080px;
    margin: 0 auto;
    max-width: 95%;
  }
  .restaurants {
    padding-right: 0;
    padding-left: 0;
  }
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .card {
    width: 460px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1080px) {
  .card {
    width: 480px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    height: 114px;
    padding: 30px 40px;
  }
  .footer__title {
    display: flex;
    align-items: end;
    padding-bottom: 5px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 640px;
  }
  .footer__list-1 {
    width: 190px;
  }
  .footer__list-2 {
    width: 190px;
  }
}
/* Responsive Design Restaurant page */
@media screen and (max-width: 374px) {
  .restaurant-menu-page__title-wrapper {
    justify-content: space-between;
  }
  .restaurant-menu-page__title {
    font-size: var(--section-title-font-size);
    padding-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-hero-banner img {
    max-height: 383px;
  }
  .restaurant-menu-page-and-order-wrapper {
    max-width: 1055px;
    margin: auto;
  }
  .restaurant-menu-page {
    padding-top: 51px;
  }
}

/*# sourceMappingURL=style.css.map */
